In [5]:
import numpy as np
import pandas as pd
from PIL import Image

In [6]:
df=pd.read_csv('train.csv')
base=df.drop(df.iloc[:, 1:13], axis = 1)
base

                                    Id  Pawpularity
0     0007de18844b0dbbb5e1f607da0606e0           63
1     0009c66b9439883ba2750fb825e1d7db           42
2     0013fd999caf9a3efe1352ca1b0d937e           28
3     0018df346ac9c1d8413cfcc888ca8246           15
4     001dc955e10590d3ca4673f034feeef2           72
...                                ...          ...
9907  ffbfa0383c34dc513c95560d6e1fdb57           15
9908  ffcc8532d76436fc79e50eb2e5238e45           70
9909  ffdf2e8673a1da6fb80342fa3b119a20           20
9910  fff19e2ce11718548fa1c5d039a5192a           20
9911  fff8e47c766799c9e12f3cb3d66ad228           30

[9912 rows x 2 columns]

In [7]:
base['Id'] = df['Id'].apply(lambda x:x+".jpg")

In [8]:
base.to_csv("paths_pwp.csv",index=False)